[submodule "dependencies/volk"]
	path = dependencies/volk
	url = https://github.com/zeux/volk.git
[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/stb"]
	path = dependencies/stb
	url = https://github.com/nothings/stb.git
[submodule "examples/dependencies/glm"]
	path = examples/dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "dependencies/tinyxml"]
	path = dependencies/tinyxml
	url = https://github.com/leethomason/tinyxml2.git
[submodule "dependencies/jsoncpp"]
	path = dependencies/jsoncpp
	url = https://github.com/pixelcluster/jsoncpp.git
[submodule "dependencies/spirv-reflect"]
	path = dependencies/spirv-reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
[submodule "dependencies/robin-hood"]
	path = dependencies/robin-hood
	url = https://github.com/martinus/robin-hood-hashing.git
[submodule "dependencies/harfbuzz"]
	path = dependencies/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "dependencies/freetype"]
	path = dependencies/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "dependencies/fmt"]
	path = dependencies/fmt
	url = https://github.com/fmtlib/fmt.git
